/* constants */
:root {
    --blue: #0080FF;
    --orange: #FF7F00;

    --animation-deley-open: 50ms;
    --animation-deley-header: 1050ms;
    --animation-deley-text: 1450ms;
    --animation-deley-portrait: 1450ms;
    --animation-open-duration: 1000ms;
    --animation-show-duration: 800ms;

    --page-horizontal-margin: 3%
}

html, body {
    /* Apple style family */
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;

    /* eliminates sub elements exceed parent problem */
    overflow: auto;
}

/* style from apple */
[lang]:lang(zh-CN) {
    font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html {
    width: 100%;
    height: 100%;
    background-color: white;
    color: var(--orange);
}

body {
    background-color: black;
    animation: open var(--animation-open-duration) ease-in-out var(--animation-deley-open) forwards;
}

.wrapper {
    display: flex;
    flex-flow: column;
    min-height: 100%;
    height: auto;
    margin: 0 var(--page-horizontal-margin);
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-text {
    font-weight: normal;
    font-size: 100px;
    margin: 2vh 0 3vh 0;
}

.content-text {
    font-weight: normal;
    font-size: 30px;
    margin-top: 2vh;
    padding-left: 2vw;
    text-align: left;
    opacity: 0;
    animation: show-text var(--animation-show-duration) ease var(--animation-deley-text) forwards;
}

.section-header {
    flex: content;
}

.section-content {
    flex: 1;

    /* fix bug of 100% in flex */
    position:relative;
}

.header {
    flex: 1;
    opacity: 0;
    animation: show-text var(--animation-show-duration) ease var(--animation-deley-header) forwards;
}

.content {
    display: flex;
    flex-flow: row;
    min-height: 100%;
    height: auto;
    width: 100%;

    /* fix bug of 100% in flex */
    position:absolute;
}

.content-text-wrapper {
    flex: 2;
}

.content-portrait {
    opacity: 0;
    animation: show-portrait var(--animation-show-duration) ease var(--animation-deley-portrait) forwards;

    flex: 1;

    box-sizing: border-box;
    padding-left: 3%;
    /* bg image */
    background: url("../images/me.png") no-repeat bottom 0 right 0;

    /* image is just contained by body */
    background-size: contain;

    /* to ensure image bottom is page bottom */
    min-height: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-flow: column;
        height: fit-content;
    }

    .content-portrait {
        background-position: bottom;
        width: 100%;
        height: auto;
    }
}

/* opening animation */

@keyframes show-text {
    from {
        margin-left: -4vw;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes show-portrait {
    from {
        margin-right: -4vw;
        opacity: 0;
    }
    to {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes open {
    0% {
        transform: scale(0);
        border-radius: 50%;
    }
    80% {
        transform: scale(1);
    }
    100% {
        border-radius: 0;
    }
}

/* responsive font size */

@media (min-width: 2000px) {
    .header-text {
        font-size: 20vmin;
    }
    .content-text {
        font-size: 4vmin;
    }
}

@media (min-width: 1300px) and (max-width: 1999px) {
    .header-text {
        font-size: 180px;
    }
    .content-text {
        font-size: 30px;
    }
}

@media (min-width: 980px) and (max-width: 1299px) {
    .header-text {
        font-size: 120px;
    }
    .content-text {
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .header-text {
        font-size: 100px;
    }
    .content-text {
        font-size: 25px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .header-text {
        font-size: 80px;
    }
    .content-text {
        font-size: 22px;
    }
}

@media (max-width: 479px) {
    .header-text {
        font-size: 60px;
    }
    .content-text {
        font-size: 20px;
    }
}

:root {
    font-size: 1.125rem;
}

@media (min-width: 600px) {
    :root {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {
    :root {
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 2rem;
    }
}

