/* constants */
:root {
  --blue: #0080FF;
  --orange: #FF7F00;

  --animation-deley-header: 100ms;
  --animation-deley-portrait: 100ms;
  --animation-show-duration: 900ms;

  --page-horizontal-margin: 3%
}

html, body {
  /* Apple style family */
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* style from apple */
[lang]:lang(zh-CN) {
  font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html {
  width: 100%;
  min-height: 101vh;
  height: auto;
  color: var(--orange);
  background-color: black;
}

body {
  min-height: 101vh;
  height: auto;
}

.wrapper {
  display: flex;
  flex-flow: column;
  min-height: 101vh;
  height: auto;
  margin: 0 var(--page-horizontal-margin);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-text {
  font-weight: normal;
  font-size: 100px;
  margin: 2vh 0 3vh 0;
}

/* not being used */
.content-text {
  font-weight: normal;
  font-size: 30px;
  margin-top: 2vh;
  padding-left: 2vw;
  text-align: left;
}

.section-header {
}

.section-content {
  flex: auto;
  display: flex;
  flex-flow: row;
}

.header {
  flex: 1;
  opacity: 0;
  animation: show-text var(--animation-show-duration) ease var(--animation-deley-header) forwards;
}

.content-text-wrapper {
  flex: 2;
  opacity: 0;
  animation: show-text var(--animation-show-duration) ease var(--animation-deley-portrait) forwards;
}

.content-portrait {
  opacity: 0;
  animation: show-portrait var(--animation-show-duration) ease var(--animation-deley-portrait) forwards;

  flex: 1;

  box-sizing: border-box;
  padding-left: 3%;
  /* bg image */
  background: url("../images/me.png") no-repeat bottom 0 right 0;

  /* image is just contained by body */
  background-size: contain;
}

@media only screen and (max-width: 768px) {
  .section-content {
    display: flex;
    flex-flow: column;
    height: fit-content;
  }

  .content-portrait {
    background-position: bottom;
    width: 100%;
    flex: 1;
  }
}

/* opening animation */

@keyframes show-text {
  from {
    margin-left: -4vw;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes show-portrait {
  from {
    margin-right: -4vw;
    opacity: 0;
  }
  to {
    margin-right: 0;
    opacity: 1;
  }
}

/* responsive font size */

@media (min-width: 2000px) {
  .header-text {
    font-size: 20vmin;
  }
  .content-text {
    font-size: 4vmin;
  }
}

@media (min-width: 1300px) and (max-width: 1999px) {
  .header-text {
    font-size: 180px;
  }
  .content-text {
    font-size: 30px;
  }
}

@media (min-width: 980px) and (max-width: 1299px) {
  .header-text {
    font-size: 120px;
  }
  .content-text {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .header-text {
    font-size: 100px;
  }
  .content-text {
    font-size: 25px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header-text {
    font-size: 80px;
  }
  .content-text {
    font-size: 22px;
  }
}

@media (max-width: 479px) {
  .header-text {
    font-size: 60px;
  }
  .content-text {
    font-size: 20px;
  }
}
