/* constants */
:root {
    --blue: #0080FF;
    --orange: #FF7F00;

    --animation-deley-open: 50ms;
    --animation-deley-header: 1050ms;
    --animation-deley-text: 1450ms;
    --animation-deley-portrait: 1450ms;
    --animation-open-duration: 1000ms;
    --animation-show-duration: 800ms;

    --page-horizontal-margin: 3%
}

html, body {
    /* Apple style family */
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;

    /* eliminates sub elements exceed parent problem */
    overflow: auto;
}

/* style from apple */
[lang]:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html {
    width: 100%;
    height: 100%;
    background-color: white;
    color: var(--orange);
}

body {
    background-color: black;
    animation: open var(--animation-open-duration) ease-in-out var(--animation-deley-open) forwards;
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0 var(--page-horizontal-margin);
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: normal;
    padding: .1em 0 0;
    margin: .1em 0 .5em 0;
    font-size: 11em;
}

p {
    font-size: 1.5em;
    margin: .2em 0 .5em 1em;
    padding: .1em 0 0 0;
    text-align: left;
    opacity: 0;
    animation: show-text var(--animation-show-duration) ease var(--animation-deley-text) forwards;
}

.section-header {
    flex: content;
}

.section-content {
    flex: 1;
}

.header {
    flex: 1;
    opacity: 0;
    animation: show-text var(--animation-show-duration) ease var(--animation-deley-header) forwards;
}

.content {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
}

.content-text {
    flex: content;
}

.content-portrait {
    opacity: 0;
    animation: show-portrait var(--animation-show-duration) ease var(--animation-deley-portrait) forwards;

    flex: auto;

    box-sizing: border-box;
    padding-left: 3%;
    /* bg image */
    background: url("../images/me.png") no-repeat bottom 0 right 0;

    /* image is just contained by body */
    background-size: contain;

    /* to ensure image bottom is page bottom */
    min-height: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-flow: column;
    }

    .content-portrait {
        background-position: bottom;
    }
}

@keyframes show-text {
    from {
        margin-left: -3em;
        opacity: 0;
    }
    to {
        margin-left: 1em;
        opacity: 1;
    }
}

@keyframes show-portrait {
    from {
        margin-right: -4em;
        opacity: 0;
    }
    to {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes open-white-to-black {
    from {
        background-color: white;
    }
    to {
        background-color: black;
    }
}

@keyframes open {
    0% {
        transform: scale(0);
        border-radius: 50%;
    }
    80% {
        transform: scale(1);
    }
    /*80% {*/
    /*}*/
    100% {
        border-radius: 0;
    }
}
